/build/
/build-*/
/stage/
/stage-*/
/.cache/
*.user
*.user.*
/obj-*/
/debian/.debhelper/
/debian/mainuan-welcome/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper.log
