[Desktop Entry]
Name=Mainuan Welcome
Name[pt_BR]=Boas-vindas do Mainuan
GenericName=Welcome Center
GenericName[pt_BR]=Central de boas-vindas
Comment=Configure o Mainuan e descubra recursos do Plasma
Comment[pt_BR]=Configure o Mainuan e descubra recursos do Plasma
Exec=mainuan-welcome
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
SingleMainWindow=true
